<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.DraftMapper">
  <resultMap id="BaseResultMap" type="com.demo.entity.Draft">
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="draft_content" jdbcType="VARCHAR" property="draftContent" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <update id="updataDraft" parameterType="com.demo.entity.Draft">
    update draft
    set draft_content = #{draftContent},
		create_time=#{createTime}
    where user_id=#{userId}
  </update>
</mapper>